{% extends "base.html.twig" %}
{% trans_default_domain 'messages' %}
{% block content %}
    <h2 class="page-title">{{ 'Shopping cart'|trans }}</h2>
    <div class="container">
    	<div style="overflow-x: scroll;">
    	<table class="table checkout-table">
    		<thead class="text-center">
    			<tr>
    				<th>{{ 'Item'|trans }}</th>
    				<th>{{ 'COLOR'|trans }}</th>
    				<th>{{ 'SIZE'|trans }}</th>
    				<th>{{ 'QUANTITY'|trans }}</th>
    				<th>{{ 'Price'|trans }}</th>
    				<th>{{ 'Sum'|trans }}</th>
    				<th>{{ 'PRONTO'|trans }}</th>
    				<th></th>
    			</tr>
    		</thead>
    		<tbody class="text-center">
	{% set sum = 0 %}
	{% for product in products %}
		{% set sum = sum + product.price %}
		{% set index = loop.index %}
    			<tr id="tr_{{ index }}">
    				<td><img src="{{ product.src }}" alt="" class="img-responsive center-block" width="150"><h5>{{ product.name }}</h5></td>
    				<td class="color">
						{% if product.type != 6 %}
							{#{% for color in product.object.colors %}#}
							<div>
								<img src="/{{ product.color.getWebPath() }}" alt="" class="label-img-container color_{{ index }} {#{% if color.id == product.color.id %}active{% endif %} #} active"
									 data-id="{{ product.color.id }}" onclick="colorChange({{ index }},this);"/>
							</div>
							{#{% endfor %}#}
						{% else %}
						<img src="/{{ product.color.getWebPath() }}" alt="" class="label-img-container">
						{% endif %}
					</td>
    				<td class="size">
						{% if product.type != 6 %}
							{#{% for size in product.object.sizes %}#}
								<label class="tabs-size-label size_{{ index }} {#{% if size.id == product.size %}active{% endif %}#}"
									   onclick="sizeChange({{ index }},this);"
									   data-id="{{ product.size }}">{{ product.size }}</label>
							{#{% endfor %}#}
						{% else %}
							<div>
								<table class="table-bordered table-striped">
									<tr>
										{% for size in product.object.sizes %}
											<td>{{ size }}</td>
										{% endfor %}
									</tr>
										<tr>
											{% for size in product.object.sizes %}
												<td>
													{% if product.infoTable[size.id] is defined %}
														{{ product.infoTable[size.id] }}
													{% else %}
														&times;
													{% endif %}
												</td>
											{% endfor %}
										</tr>
								</table>
							</div>
						{% endif %}
    				</td>
    				<td class="count">
						{#{% if product.type == 6 %}#}<b>{{ product.quantity }}</b>{#{% endif %}#}
						<b {#{% if product.type == 6 %}#}style="display: none;" {#{% endif %}#}>
							<span onclick="countUp({{ loop.index }})" class="glyphicon glyphicon-plus" style="cursor: pointer;"></span>
							<input type="text" form="form_{{ loop.index }}" onchange="changeCount({{ index }});" class="quantityItem" data-price="{{ product.price }}" data-index="{{ loop.index }}" value="{{ product.quantity }}" id="q_{{ loop.index }}" name="count[{{ loop.index }}]" style="width: 60px; margin: 0 auto;">
							<span onclick="countDown({{ loop.index }})" class="glyphicon glyphicon-minus" style="cursor: pointer;"></span>
						</b>
					</td>
    				<td class="price">
						{% if currency %}
							{{ (product.price/currency.rate)|round(2,'floor') }} {{ currency.name }}
						{% elseif(shop.getMainCurrency().symbol) %}
							{{ product.price }}
							{{ shop.getMainCurrency().symbol }}
						{% endif %}
					</td>
    				<td class="total">
						<span id="total_item_{{ loop.index }}"></span>
						{% if currency %}
							 {{ currency.name }}
						{% elseif(shop.getMainCurrency().symbol) %}
							{{ shop.getMainCurrency().symbol }}
						{% endif %}
					</td>
    				<td class="preorder">
						{% if product.type == 6 %}
							{% for type in prontoTypes %}
								{% if type.length == product.prontoType %}
									<label class="tabs-size-label preorder_{{ index }} active"
										   for="{{ type.length }}month_{{ index }}"
										   onclick="preorderChange({{ index }},this);" data-value="{{ type.length }}">
										 {{ 'prepayment'|trans }} {{ type.percent }}%
										<input  id="{{ type.length }}month_{{ index }}" value="{{ type.length }}" type="radio"
												name="month_{{ index }}[]">
									</label>
								{% endif %}
							{% endfor %}
						{% endif %}
						<form id="form_{{ loop.index }}" onsubmit="return false;" class="cart_form" method="POST" action="{{ path('site_cart_update') }}">
							<input type="hidden" name="id" value="{{ product.id }}"/>
							<input type="hidden" name="color" value="{{ product.color }}"/>
							<input type="hidden" name="key" value="{{ product.key }}">
							<input type="hidden" name="size" value="{{ product.size }}"/>
							<input type="hidden" name='quantity' value="{{ product.quantity }}"/>
							<input type="hidden" name='prontoType' value="{{ product.prontoType }}"/>
							<input type="hidden" name='type' value="{{ product.type }}"/>
						</form>
					</td>
					<td>
						<a href="#!" onclick="previewDelProduct({{ product.id }},{{ index }});">{{ 'remove'|trans }}</a>
					</td>
    			</tr>
		{% endfor %}
    		</tbody>
    	</table>
    	</div>
    	<div class="sub-total text-right">
    		<h4>{{ 'Subtotal'|trans }}: <span>
					 {% if currency %}
						 <span class="total_sum">{{ (sum/currency.rate)|round(2,'floor') }}</span> {{ currency.name }}
                        {% elseif(shop.getMainCurrency().symbol) %}
						 <span class="total_sum">{{ sum }}</span>
						 {{ shop.getMainCurrency().symbol }}
					 {% endif %}
				</span></h4>
    	</div>
    	<div class="row result-links">
    		<div class="col-md-10 col-md-offset-1">
    			<div class="row">
    				<div class="col-md-6 text-center"><a href="{{ path('category_1') }}" class="tomag tomag-order">{{ 'In shop'|trans }}</a></div>
    				<div class="col-md-6 text-center"><a href="{{ path('site_order') }}" class="checkout-btn">{{ 'Check out'|trans }}</a></div>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}
{% block javascripts %}
	<script>
		function changeCount($id){
			$("#form_"+$id+" [name='quantity']").val($("#q_"+$id).val());
			postData($id);
			changeTotal(0);
		}
		function countUp($id){
			var cnt = parseInt($("#q_"+$id).val());
			if(cnt){
				$("#q_"+$id).val(cnt+1);
				changeTotal(0);
				$("#form_"+$id+" [name='quantity']").val($("#q_"+$id).val());
				postData($id);
			}else {
				$("#q_"+$id).val(1);
			}
		}
		function countDown($id){
			var cnt = parseInt($("#q_"+$id).val());
			if(cnt>1){
				$("#q_"+$id).val(cnt-1);
				changeTotal(0);
				$("#form_"+$id+" [name='quantity']").val($("#q_"+$id).val());
				postData($id);
			}else {
				$("#q_"+$id).val(1);
			}
		}

		function changeTotal($itemIndex){
			var $total = 0;
			$('.quantityItem').each(function($i){
				var $quantity = parseInt($(this).val());
				var $price = parseFloat($(this).data('price'));
				var $index = $(this).data('index');
				$('#total_item_'+$index).html($quantity * $price);
				$total = $total+($quantity * $price );
			});
			if($itemIndex != 0){
				postData($itemIndex);
			}

			$('.total_sum').html($total);
		}

		function previewDelProduct(id,$index) {
			$.ajax({
				type: "POST",
				url: "{{ path('site_cart_del') }}",
				data: {product_id: id},
				success: function () {
					$('#tr_'+$index).remove();
					changeTotal(0);
				}
			});
		}

		$(document).ready(function(){
			changeTotal(0);
		});

		function preorderChange($index,$id){
			$('.preorder_'+$index).not($id).removeClass('active');
			$($id).addClass('active');
			$('#form_'+$index+" [name='prontoType']").val($($id).data('value'));
			postData($index);
		}

		function colorChange($index,$id){
			$('.color_'+$index).not($id).removeClass('active');
			$($id).addClass('active');
			$('#form_'+$index+" [name='color']").val($($id).data('id'));
			postData($index);
		}

		function sizeChange($index,$id){
			$('.size_'+$index).not($id).removeClass('active');
			$($id).addClass('active');
			$('#form_'+$index+" [name='size']").val($($id).data('id'));
			postData($index);
		}

		function postData($index){
			var form = $("#form_"+$index);
			$.ajax({
				url: form.attr('action'),
				type: form.attr('method'),
				dataType: 'json',
				data: form.serialize(),
				success:function(){
					console.log('Успешно');
				},
				errors:function(){
					alert('Ошибка отправки данных')
				}
			});
		}
	</script>
{% endblock %}