{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="reg-form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <h3>{{ 'Зарегистрированный пользователь'|trans }}:</h3>
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <label for="username">
                            <p>{{ 'Эл. почта'|trans }}</p>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </label>

                        <label>
                            <p>{{ 'Пароль'|trans }}</p>
                            <input type="password" id="password" name="_password" required="required" />
                        </label>
                        <div class="forgot">
                            <a href="{{ path('fos_user_resetting_request') }}">{{ 'Забыли пароль'|trans }}?</a>
                        </div>
                        <div class="remember">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                {{ 'Запомнить меня'|trans }}
                            </label>
                        </div>
                        <button type="submit" class="reg-confirm">{{ 'Войти'|trans }}</button>
                    </form>
                </div>
                <div class="col-md-2">  </div>
                <div class="col-md-5">
                    <h3>{{ 'Новый пользователь'|trans }}:</h3>
                    <p class="text-center"><strong>{{ 'Зарегестрировав свой аккаунт сейчас, Вы сможете'|trans }}:</strong></p>
                    <div class="reg-login-buttons">
                        <div class="text-center">
                            <a href="{{ path('fos_user_registration_register') }}" class="btn reg-confirm">{{ 'Регистрация'|trans }}</a>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('legal_register') }}" class="btn reg-confirm">{{ 'Зарегистрироваться как юр.лицо'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
