{% extends "RleeCMSShopBundle::layout.html.twig" %}
{% block title %}{{ category.metaTagTitle }}{% endblock title %}
{% block description %}{{ category.metaTagDescription }}{% endblock description %}
{% block keywords %}{{ category.metaTagKeywords }}{% endblock keywords %}
{% block content %}
    {% if sales or mainPrevious %}
        <div class="collection container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    {% if sales %}
                        {% for sale in sales %}
                            <div class="collection-item new-{{ loop.index }}">
                                <img src="/images/shop/{{ sale.logo }}" alt="">
                                <div class="watch-overlay">
                                    <div class="abs-center">
                                        <div class="cell">
                                            {% if sale.shopbylook %}
                                        <a href="/{{ alias }}/{{ sale.alias }}.html" class="watch-now">{{ sale }}</a>
                                    {% else %}
                                    {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if mainPrevious %}
                        {% if mainPrevious[0] or mainPrevious[2] %}
                            <div class="collection-left-column">
                                {% for mainPrev in mainPrevious %}
                                    {% if loop.index == 1 or loop.index == 3 %}
                                        <div class="collection-item new-{{ loop.index }}">  
                                            <img src="/images/shop/{{ mainPrev.logo }}" alt="">
                                            <div class="watch-overlay">
                                                <div class="abs-center">
                                                    <div class="cell">
                                                    <a href="/{{ alias }}/{{ mainPrev.alias }}.html" class="watch-now"
                                               style="left: 242.5px;">{{ mainPrev }}</a>
                                           </div>
                                       </div>
                                   </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if mainPrevious[1] or mainPrevious[3] %}
                            <div class="collection-right-column">
                                {% for mainPrev in mainPrevious %}
                                    {% if loop.index == 2 or loop.index == 4 %}
                                        <div class="collection-item new-{{ loop.index }}">
                                            <img src="/images/shop/{{ mainPrev.logo }}" alt="">
                                            <div class="watch-overlay">
                                                <div class="abs-center">
                                                    <div class="cell">
                                            <a href="/{{ alias }}/{{ mainPrev.alias }}.html" class="watch-now"
                                               style="left: 146.5px;">{{ mainPrev }}</a>
                                           </div>
                                           </div>
                                           </div>
                                           
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if previous %}
        <div class="previous-collection container-fluid">
            <div class="previous-collection-h2">{{ 'ALL PREVIOUS COLLECTIONS'|trans }}</div>
            <ul class="list-unstyled clearfix collection-carousel">
                {% for prev in previous %}
                    <li class="previous-collection-item">
                       <a class="previous-collection-link" href="/{{ alias }}/{{ prev.alias }}.html"> <img src="/images/shop/{{ prev.logo }}"/></a> 
                      
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {#<div class="shop-item-container">#}
    {#<div class="container-fluid">#}
    {#<div class="col-xs-12">#}
    {#<ul class="list-unstyled">#}
    {#{% for product in category.products %}#}
    {#<li class="col-sm-3 shop-item text-center">#}
    {#<div class="shop-img">#}
    {#{% set srs =  product.getWebPath() %}#}
    {#{% if (product.logo) %}#}
    {#<img src="/images/shop/{{ product.logo }}" alt="">#}
    {#{% elseif(product.images[0]) %}#}
    {#<img src="{{ product.images[0] }}" alt="">#}
    {#{% endif %}#}

    {#<div class="shop-absolute">#}
    {#<div class="shop-item-wishlist">#}
    {#Add to wish list#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<a class="shop-link" href="/{{ alias }}/{{ product.alias }}.html">{{ product }}</a>#}
    {#<div class="shop-price">$ {{ product.price }}</div>#}
    {#</li>#}
    {#{% endfor %}#}
    {#</ul>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
{% endblock content %}