<h2>{{ 'NEW MESSAGE IN FEEDBACK' | trans }}</h2>
<table>
    <tr>
        <td>{{ 'Name' | trans }}</td>
        <td>{{ entity.name }}</td>
    </tr>
    <tr>
        <td>{{ 'Organization' | trans }}</td>
        <td>{{ entity.organization }}</td>
    </tr>
    <tr>
        <td>{{ 'Contact' | trans }}</td>
        <td>{{ entity.contact }}</td>
    </tr>
    <tr>
        <td>{{ 'Message' | trans }}</td>
        <td>{{ entity.message }}</td>
    </tr>
</table>