{% extends "CMSBundle:Widgets:layout.html.twig" %}
{% block title %}
    {% if widget.hideTitle %}
        <div class="cms_widget_title">
            <h4>{{ widget.title }}</h4>
        </div>
    {% endif %}
{% endblock title %}
{% block widget %}
    <div class="cms_widget_content">
        <div class="category-item new-{{ widget.num }}">
            <div class="absolute">
                {{ widget.titleHtml|raw }}
                {% if widget.params.ProductHref is defined and widget.params.ProductHref == 1 %}
                    <button class="btn btn-toolai btn-new-{{ widget.num }}">Shop now</button>
                {% endif %}
            </div>
            {% if widget.product is defined %}
                <img src="/images/shop/{{ widget.product.logo }}" alt="">
            {% endif %}
        </div>
    </div>
{% endblock widget %}